*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body{
    width: 100vw;
    height: 100vh;
    overflow: scroll;
}
::-webkit-scrollbar{
    display: none;
}

#dashboard-container
{
    width: 100vw;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* Switch Tabs/ Dashboard/Tasks */
#switch-tabs{
    margin-top: 8px;
    width: 220px;
    display: flex;
    justify-content: space-around;
}
.switch-btn{
    display: inline-block;
    border-radius: 30px;
    text-align: center;
    font-weight: 800;
}
#dashboard{
    width: 100px;
    line-height: 30px;
    background-color: rgb(255, 44, 111);
    color: aliceblue;

}
#my-tasks{
    width: 80px;
    line-height: 30px;
}
#dashboard-body{
    background-color: #90d6ff;
    height:100%;
    width: 100%;
    border-radius: 20px;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Date-day */
#date-day{
    width: 95%;
    margin-top: 10px;
}
.tasks-page-date{
    font-size: 45px;
    display: inline-block;

}
#tasks-day{
    font-size: 25px;
}


/* Greetings */
#greetings{
    width: 95%;
}

#greet-msg{
    font-size: 80px;
}
#user-name{
    font-size: 80px;
}

/* ProgressBar */
#progress-box{
    width: 95%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px 0;
}

#progress-bar{
    width: 100%;
    height: 50px;
    border-radius: 8px;
    overflow: hidden;
    background-color: #d4d4d4;
}

#completed-percent{
    width: 0;
    height: 100%;
    background-color: rgb(112, 255, 51);
    transition: 1s;
}


#progress-label{
    margin: 10px 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#completed-bar{
    display: flex;
    align-items: center;
}
#pending-bar{
    display: flex;
    align-items: center;
}
.progress-indicator{
    display: inline-block;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin: 0 5px;
}
#completed-indicator{
    background-color: #00ff08;
}

#pending-indicator{
    background-color: #f1cece;
}

/* Heding  */
#todays-heading{
    width: 95%;
    font-size: 50px;
}

/* Show when no tasks */
.no_tasks{
    position: relative;
    text-align: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.no_tasks span{
    text-align: center;
    z-index: 10;
    display: inline-block;
    width: 100%;
    font-size: 5vw;
    color: rgb(71, 71, 71);
}
.no_tasks img{
    height: 40vw;
    width: 40vw;
    opacity: 0.4;
}


/* Dashboard Tasks List */
#dashboard-tasks{
    margin: 10px 0;
    list-style: none;
    width: 95%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 3vw;
}
.dashboard-task-list{
    width: 0%;
    min-width: 40%;
    height: 0px;
    border-radius: 8px;
    background-color: #ffb58d;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    transition: 0.4s;
    overflow: hidden;
}

.dashboard-task-list a{
    text-decoration: none;
    color: white;

}

.dashboard-task-list:nth-child(2n){
    background-color: #fd8dde;
}
.dashboard-task-list:nth-child(3n){
    background-color: rgb(220, 215, 70);
}

.dashboard-task-list:nth-child(4n){
    background-color: rgb(191,220,196);
}

.task-title{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    width: 80%;
    font-size: 3vw;
    font-weight: 600;
}

.created_Date{
    margin: 4px;
    position: absolute;
    bottom: 0;
    left: 0;
    font-size: 10px;
}

/* In Progress indicator */
#in-progress-indicator{
    position: absolute;
    top: 10px;
    width: 95%;
    margin: 10px;
    display: flex;
    align-items: center;
    font-size: 18px;
}
#animated-indicator{
    display: inline-block;
    width: 20px;
    height: 20px;
    background-color: green;
    border-radius: 50%;
    margin: 0 10px;
    border: 1px solid rgb(255, 255, 255);
    animation: blink 1s infinite;
}

@keyframes blink{
    0%,100%{
        background-color: green;
    }
    50%{
        background: transparent;
    }
}


@media screen and (max-width:750px) {
    .task-title{
        font-size: 28px;
        word-wrap: break-word;
    }
    
}
