*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}
::-webkit-scrollbar{
    display: none;
}
#main-container
{
    height: 100vh;
    width: 100vw;
    background-color: #ffcece;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: scroll;
    transition: 1s;
}
/* Switch Tabs/ Dashboard/Tasks */
#switch-tabs{
    margin-top: 8px;
    width: 220px;
    display: flex;
    justify-content: space-around;
}
.switch-btn{
    display: inline-block;
    border-radius: 30px;
    text-align: center;
    font-weight: 800;
}
#dashboard{
    width: 100px;
    line-height: 30px;
}
#my-tasks{
    width: 80px;
    line-height: 30px;
    background-color: rgb(255, 44, 111);
    color: aliceblue;
}

/* Tasks Body */
#tasks-body{
    height:100%;
    width: 95vw;
    border-radius: 10px;
}
#date-day{
    display: inline-block;
}
.tasks-page-date{
    font-size: 18px;
}
.tasks-day{
    font-size: 38px;
}

/* Search Box/Bar */
#search-box{
    margin-top: 10px;
    height: 43px;
    position: relative;
    border-radius: 50px;
    overflow: hidden;
}
#search-bar{
    width: 100%;
    height: 100%;
    font-size: 20px;
    padding: 10px;
    border: none;
    outline: none;
    background-color: #f0f0f0;
}
::placeholder{
    text-align: center;
    font-size: 18px;
    color: rgba(0, 0, 0, 0.5);
}
#search-icon{
    display: inline-block;
    width: 50px;
    position: absolute;
    top: 50%;
    right: 0px;
    transform: translateY(-50%);
    background-color: #e3e3e3;
    line-height: 40px;
    text-align: center;
}

/* Tasks Container */
.tasks-list{
    width: 100%;
    border-radius: 10px;
    margin-top: 10px;
    background-color: rgb(255, 223, 229,0.6);
}

.tasks-list > span{
    display: inline-block;
    height: 30px;
    margin-top: 10px ;
    margin-left: 10px;
}

.tasks{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin:10px auto;
    border-radius: 8px;
    background-color: #fffdfd;
    transition: 0.6s;

}
.check-label{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.check-mark{
    width: 18px;
    height: 18px;
    margin: 0 20px;
}
.check-mark input{
    height: 100%;
    width: 100%;
}
.task-label{
    font-size: 25px;
    color: rgb(59, 58, 58);
    font-weight: 600;
}
.delete-task{
    width: 20%;
    min-width: 130px;
    font-size: 23px;
    display: flex;
    justify-content: space-between;
    margin-right: 20px;
}
.delete-task a{
    color: rgb(177, 15, 15);
}

/* Floating add Button */
#add-tasks{
    position: fixed;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgb(34, 137, 240, 0.7);
    width: 70px;
    height: 70px;
    border-radius: 50%;
    color: aliceblue;
    font-size:40px;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* For add task */

#add-task-container {
    position: absolute;
    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);
    width: 0vw;
    max-width: 500px;
    height: 0vh;
    background-color: antiquewhite;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    transition: 1s;
}

#close-container{
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

#title-category {
    margin-top: 20px;
    width: 90%;
    display: flex;
    justify-content: space-between;
}

#set-description {
    width: 90%;
    display: flex;
    flex-direction: column;
    height: 100px;
}

textarea {
    height: 100%;
    outline: none;
}

#set-date {
    width: 40%;
    display: flex;
    flex-direction: column;
}

#set-time {
    width: 40%;
    display: flex;
    flex-direction: column;
}

#setTime-date {
    display: flex;
    justify-content: space-between;
    width: 90%;
}

#add-task-btn {
    margin: 25px;
    background-color: rgb(0, 255, 170);
    width: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 40px;
    height: 40px;
    outline: none;
    border: none;
}


.blur{
    filter: blur(5px);
}

/* Notification */
#notification-container{
    border: 1px solid;
    border-radius: 6px;
    width: 0;
    height: 0;
    position: absolute;
    left: 50%;
    top: 20px;
    transform: translateX(-50%);
    display: none;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.6);
    overflow: hidden;
    transition: 0.3s;
}

#notification-msg-box{
    font-size: 20px;
}

#animated-bar{
    width: 100%;
    height: 4px;
    position: absolute;
    bottom: 0;
}

.animateTheBar{
    animation: animateBar 5.3s;
}

@keyframes animateBar{
    0%{
        width: 100%;
        background-color: rgb(255, 0, 111);
    }
    100%{
        width: 0%;
        background-color: rgb(132, 0, 255);
    }
}

@media screen and (max-width:500px) {
    #add-task-container{
        min-width: 95vw;
    }
}