* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

#add-task-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70vw;
    /* height: 40vh; */
    background-color: antiquewhite;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background-color: aqua; */
}

#title-category {
    margin-top: 20px;
    width: 90%;
    border: 1px solid;
    display: flex;
    justify-content: space-between;
}

#set-description {
    width: 90%;
    display: flex;
    flex-direction: column;
    height: 100px;
}

textarea {
    height: 100%;
}

#set-date {
    width: 40%;
    display: flex;
    flex-direction: column;
}

#set-time {
    width: 40%;
    display: flex;
    flex-direction: column;
}

#setTime-date {
    display: flex;
    justify-content: space-between;
    width: 90%;
}

#add-task-btn {
    margin: 25px;
    background-color: rgb(0, 255, 170);
    /* border: 1px solid; */
    width: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 40px;
    height: 40px;
}